# Django settings
SECRET_KEY=your-secret-key
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

CORS_ORIGIN_WHITELIST=*

DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

PAYMENT_SUCCESS_URL=
PAYMENT_CANCEL_URL=
STRIPE_RETURN_URL=
MONTHLY_PLAN_PRICE_KEY=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
ENDPOINT_SECRET_KEY=
BACKEND_DOMAIN=

# Influxdb Config
INFLUXDB_DATABASE=tensurf
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=admin
INFLUXDB_USER=user
INFLUXDB_USER_PASSWORD=pass

# Redis Config
REDIS_DB=0
REDIS_PASSWORD=

# Postgres Config
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=