[submodule "api"]
	path = api
	url = git@github.com:TenSurf/TenSurf_Hub_Backend.git
	branch = dockerize
[submodule "ui"]
	path = ui
	url = git@github.com:TenSurf/TenSurf_Hub_Frontend.git
	branch = dockerize
